<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>about us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut possimus, pariatur optio distinctio totam aliquid voluptatum maiores! Debitis, doloribus ullam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut possimus, pariatur optio distinctio totam aliquid voluptatum maiores! Debitis, doloribus ullam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut possimus, pariatur optio distinctio totam aliquid voluptatum maiores! Debitis, doloribus ullam?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>